<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background: skyblue; font-family: Chalkboard; color: azure; padding: 15px;}
        h1{font-size: large; text-transform: uppercase; text-align: center;}
        h2{font-size: medium; text-transform: uppercase; text-align: center;}
        p{font-size: small; text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<% include partials/nav.ejs %>
<h1>Space Monkeys</h1>
<button type="text">Here is my web app for socket.io and a todo list written in node.js.</button>
<p> Here is my web app for socket.io and a todo list in node.js </p>
<p></p>
</body>
</html>



<!--
<div id="todo-table">
    <form>
        <input type="text" name="item" placeholder="Add new item..." required />
        <button type="submit">Add Item</button>
    </form>
    <ul>
    </ul>
</div>
</body>
</html>
-->