<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{background: skyblue; font-family: Chalkboard; color: azure; padding: 15px;}
        h1{font-size: large; text-transform: uppercase; text-align: center;}
        h2{font-size: medium; text-transform: uppercase; text-align: center;}
        p{font-size: small; text-align: center;}
    </style>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<% include partials/nav.ejs %>
<h1>Space Monkeys</h1>
<p>  Welcome to the Socket.io whiteboard app </p>
<p></p>
</body>
</html>